/**
 * Components > Hero
 */

.hero {
    @include gradient-directional(gold, tint-color(gold, 3));
    box-shadow: inset 0 -6px 0 0 shade-color(gold, 4);
    color: color-contrast(gold);
    padding-bottom: 4rem;
    padding-top: 4rem;
    &__heading {
        font-weight: $font-weight-bold;
    }
    &__lead {
        font-size: 1.25rem;
        margin-bottom: $spacer * 3;
    }
}






/*
    make secondary button green and lighter-weight
    hero lead styles
    RFS padding
    create a hero padding-y variable
    mixin abstracting (hero and hero-variant)
*/
